<!DOCTYPE html>
<html> 
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Challenge</title>

  <link href="assets/css/inspinia/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/inspinia/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/css/inspinia/css/animate.css" rel="stylesheet">
  <link href="assets/css/inspinia/css/style.css" rel="stylesheet">
  <link href="assets/css/inspinia/css/plugins/textSpinners/spinners.css" rel="stylesheet">

  <link rel="stylesheet" href="assets/css/style.css">
  
  <script src="assets/css/inspinia/js/jquery-3.1.1.min.js"></script>
</head>
<body class="gray-bg">
  
  {% block content %}{% endblock %}
  
  <script src="assets/css/inspinia/js/bootstrap.min.js"></script>
  <script src="assets/css/inspinia/js/plugins/metisMenu/jquery.metisMenu.js"></script>
  <script src="assets/css/inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
  
  <script src="assets/css/inspinia/js/inspinia.js"></script>
  
  {% block scripts %}{% endblock %}
  
</body>
</html>